# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.envrc

# Model files
models/
*.h5

# Dataset folders
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python IDEs/editor configs
.vscode/
.idea/

# Other sensitive or large files
*.zip
*.tar.gz
